
.design-page
{	
    background-size:cover;
    height: 100%;
}

.design-page .design-menu
{
    border: 1px solid ghostwhite;
    background-color:#323536;
    width:200px;
    height:auto;
    color:#B3B4BD;
    border-radius: 25px;
}

.design-page .design-menu .design-menu-header
{
    margin-top:5px;
    width:180px;
    height:45px;
    margin-bottom:10px;
    font-size:18px;
    text-align:center;
    padding-top:5%;
}

.design-page .design-sub-menu
{
    background-color:#4D5659;
    width:163px;
    height:auto;
    padding-top:20px;
}

.design-page .design-sub-menu ul
{
    list-style-type:none;
}

.design-page .design-sub-menu ul a
{
    color:#fff;
    font-size:15px;
    text-decoration:none;
}

.design-page .design-sub-menu ul a:active
{
	text-decoration:underline;
}

.design-page .design-preview
{
    position: relative;
    margin: auto;
    width:auto;
    height:auto;
}

.design-page .design-preview .preview-image
{
    position: absolute;
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 230px;
}

.design-page .design-preview .button-image 
{
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
}

.inline
{
    display: inline-block;
}

.button-design-image 
{
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.sly-list-item {
    
    display: block;
    margin: auto;
    width: 100px;
    height: 99px;
}

.designer-menu {
    
    display: block;
    margin: auto;
    height: 300px;
    width: 230px;
    top: 0;
    left: 0;
}

.designer-option {
    
    display: block;
    margin: auto;
    height: 300px;
    width: 230px;
    top: 0;
    left: 0;
}

/* Section for Mix Design */

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

/* */



