
.forgot-password
{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
}

.choose-password
{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px;
}