<div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()">&times;</button>
                <h4 class="modal-title">{{$ctrl.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p style="text-align: center;">{{$ctrl.message}}</p>
                    <br/>
                    <div class="form-group" ng-show="$ctrl.hasvalue">
                        <label class="col-sm-3 control-label" for="value">{{$ctrl.valuelabel}}</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="$ctrl.value" placeholder='{{$ctrl.placeholder}}' name="value" id='value' class="form-control">
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.ok()">{{$ctrl.oklabel}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="hascancel"  ng-click="$ctrl.cancel()">{{$ctrl.cancellabel}}</button>
            </div>
        </div>
</div>   

