<div class="modal-body">
    <h5>TERMS & CONDITIONS | TERMS & CONDITIONS - SUITS</h5>
    <h5>TERMS & CONDITIONS</h5>
    <h5>PAYMENT CONDITIONS</h5>   
    <p>
        All transactions made are through the mobile money account. Customer must make full payment before measurement is taken (In cases where Brand Rep is used) or before order is sent or production in which case customer is informed production has begun.
    </p>
    <p>
        We would like to advise that, however unlikely the event, orders may be subject to customs fees and duties, depending on where the order is placed. On orders with larger value than personal exemption laws permit in any given country or region, customs charges may apply. In those cases, the logistics company will usually collect the customs fee at your door.
    </p>
    <h5>PRIVACY</h5>
    <p>
        We value and respect the privacy of all our precious customers, hence We do not sell, trade, lease or rent any of your personal information with unauthorized third parties. We use various security measures to protect the security and confidentiality of your personal information. We use cookies and other technologies to keep track of your interactions with our site and services to offer a personalized experience.
    </p>
    <h5>SHIRTS & JEANS</h5>
    <h5>CANCELLATION & RETURNS</h5>
    <p>
        Due to the fact that he product is customs made to the design and taste of the customer, returns are only accepted for errors related to production where the order does not match the product.
    </p>
    <p>
        In cases where the customer believes an error has been made, customer should take and upload a picture of him/herself wearing the product displaying the error and email this information to <a href="#">errors@shmyde.com.</a> The title of the mail should clearly state « Request for Return ». Customer will be notified as soon as return is accepted or rejected in max 3 days. 
    </p>
    <p>
        The first time a customer orders any custom-made product there is a chance that the fit would not be 100% perfect. The need for minor alteration of the product or size adjustment might be necessary. Incorrect measuring does not qualify as production error where it was not taken by Brand Reps.
    </p>
    <p></p>
    <p>
        It is possible to find slight differences in the shading of a product of the same fabric (due to variations in the dying process). The fabric colours might be slightly different depending on the contrast and quality of the computer screen being used.
    </p>
    <p>
        Due to the fact that the product is handmade and not machine-made, minor variations in the fit of two finished products produced with the same body measurements may occur, but are generally not noticeable.
    </p>
    <p>
        Once an order is placed online, it is processed immediately and the production process is commenced instantly. Please note that cancellation of orders is thus not possible after the transaction is completed.
    </p>
    <p>
        For large quantities of shirt orders, there is a possibility of a slight difference of 0.5 to 1 inch in the measurements. As this is tailor made production, each shirt order is cut and made individually unlike ready made mass production.
    </p>
    <p>
        If you choose 'Slanted' buttonholes for your shirt, the buttonholes will become more enlarged as compared to vertical buttonholes because the fabric is cut at an angle.
    </p>
    <p>
        ALL prices quoted on our website are in EUR and they exclude taxes and duties. However, in most countries there is an exemption quota that allows some merchandise (depending on the value of the package) to be received free from taxes and duties. This quota varies from country to country and we would advise you to check with your country's custom and tax department about this, just to be sure. Please note that SHMYDE is not responsible for any possible taxes and duties at the various countries of destination. This is to be covered by the customer and will be collected before delivery.
    </p>
    <p>
        For Shoulder measurements, there might be a need to subtract to give proportion for matching the chest and to make the pattern proportionate for each individual.
    </p>
    <p></p>
    <p>
        Customers can request specific additional measurements not indicated on our measurements page (such as biceps, cuff width, cuff length, forearms) or additional specifications for the design process not included in the options via email, once their order is placed online. However, this must be done within 24 hours of order placement.
    </p>
    <p>
        In case of any approved alterations, customers are required to pay for all costs associated with having the product shipped back to Shmyde. We suggest that all deliveries be returned by your local national airmail (small packet) service, as it is the most economical way to ship the product back. Please also mark the invoice value as zero and indicate that the goods are for alteration purposes only. PLs note that this process must be approved and followed up by Shmyde autorised staff.
    </p>
    <p>
        Products re-ordered or re-made at a different date from the original order may differ in color shades as each fabric lot and fabric roll is milled separately.
    </p>
    <p>
        Confirmation emails of purchase will always be sent to the email provided upon completion of order placement. Customers are kindly requested to check that emails from our company are not marked as junk or spam. Customers are also kindly requested to contact info@shmyde.com if they do not receive the confirmation emails within 48hrs of order confirmation due to unforeseen Technical reasons.
    </p>
    <p>
        Products ordered cannot be cancelled, unless filed within 24 hours. All products will be shipped to the delivery address as the company will not cancel, hold nor store any order and product once produced.
    </p>
    <p>
        In order to ensure a service of high quality to our customers, Shmyde will inform customers if case an  incorrect measurement submissions is suspected for customer to redo the measurement and confirm. However, we will not hold orders for more than 48 hours without production. Suspicion of incorrect measurement submissions may also add to the delivery period.
    </p>
    <p>
        Delivery charges depend on the tariffs charged by express courier services such as TNT and these prices are subject to change without prior notice. Payment for these delivery charges or express delivery is exclusive of any custom fees that may incur.
    </p>
    <p>
        The fabric color descriptions on our website have been baptised as such by our brand experts and is solely intended for our brand. They do not correspond to other general descriptions of the color mentioned by any other sources or brands.
    </p>
    <p>
        Should there be a discrepancy in the invoice you receive, please email our customer service team and we will send you an updated official invoice.
    </p>
    
    <h5>
        DELIVERY TIME
    </h5>
    <p></p>
    <p>
        The estimated delivery time for a CUSTOM-MADE iTailor garment is between 4 to 6 weeks depending on the delivery address. In rare cases the delivery might be subject to influences beyond our control, such as fabric availability or natural disasters. In those cases delivery might take slightly longer. In any case, customer will be informed of delivery delays.
    </p>
    <h5>
        SHIPPING/PACKAGING
    </h5>
    <p>
        iTailor garments are shipped worldwide individually and immediately upon production completion, directly from our production facilities to the customer's door without separate warehousing and/or re-shipping in order to minimize delivery time and carbon footprint. Separate shipping charges for each product ordered apply.
    </p>
    <h5>
        SUITS
    </h5>
    <ol>
        <li>
            We offer no refunds in any case, as we sell custom-made products. According to international law, as we cannot reuse or resell the product (the item having been especially made for the individual according to their custom design), there is no resale value, and thus we are not required to accept returns.
        </li>
        <li>
            In case of fit issues and necessary alterations, SHMYDE cannot be held responsible, as a provision is made in our pricing to enable the customer to alter the product with locally is included. iTailor is an online ordering platform for custom-made clothing, and adjustments to the clothing may be necessary (trial and error) to find your best feeling fit.
        </li>
        <li>
            Shmyde suits are online custom suits. We provide our experts to tke measurements locally depending on the customer location to ensure the fit is perfect. However, the customer is entirely reponsible for the dimentions inserted within the system.
        </li>
        <li>
            The garment is tailor-made and there is an allowance of 1.5 cm for length and sleeve length. This is the standard allowance in quality control for custom-made suits.
        </li>
        <li>
            For customers using the body measurements option, please note that there a small addition to chest, waist and hips, depending on the general measurements as the addition differs for each body type. However, customer can use the credit to alter the chest, waist and hips to your liking (usually the fit should be good, but each person's viewpoint and feeling on the garment may differ. That is the reason we provide the alteration allowance for every customer).
        </li>
        <li>
            If the style chosen is produced wrong, Shmyde will remake the suits without any charges, however the customer needs to return the suit by the most economical local airmail that has to be confirmed by Shmyde.
        </li>
        <li>
           The Product design image on our web interface is for visualization only. It is difficult to guarantee the exact color due to differences in screen monitors, brightness, contrast etc. 
        </li>
        <li>
            For large quantities of suit orders, there is a possibility of a slight difference of 0.5 to 1 inch in the measurements. As this is tailor-made production, each suit order is cut and made individually unlike ready-made mass production.
        </li>
        <li>
            The first time a customer orders any custom-made product there is a chance that the fit is not 100% perfect. The need for minor alteration of the product or size adjustment might be necessary. Incorrect measuring does not qualify as production error. A rebate is incorporated in the price for the customer to fix any possible problem, hence the fit is guaranteed.
        </li>
        <li>
            In the case of a production error, the customer is required to take and upload a picture of him/herself wearing the product displaying the error and email this information to info@shmyde.com.
        </li>
        <li>
            For the pants, the style of the bottom is viewpoint-based. The boot cut may differ for a shorter person as opposed to a taller person. If you would like to fine tune, you can easily consult your local alterations tailor to adjust the item using the rebate in the price for production.
        </li>
        <li>
            Shmyde suits are made by skilled tailors, and we try to match pin stripes/lines/patterns at the shoulders. Please note that matching lines at the shoulders may cause slight to medium puckle at the shoulder on some body types. If the customer prefers to ensure smooth shoulders over the matching of pin stripes/lines/patterns, please notify Shmyde customer service by email within 24 hours of having placed your order.
        </li>
        <li>
            It is most likely that you will have to pay the customs fees in Europe (as a courtesy please use part of rebate in our prices to ease your costs), as this is part of the common online shopping process (end users pay the customs fees). Shmyde cannot be responsible for these charges by your countries tax and customs. For USA customers, tax should not be incurred, as the product value is under 200 usd in most cases and comes from an AGOA country. However we cannot guarantee this. Please note that even with customs/tax charges, Shmyde suits are still the most economical within the market.
        </li>
        <li>
            For the sleeve length, we give a lot of fabric allowance, to make any potentially necessary sleeve adjustments possible. Please note, than for working button sleeves, adjustments are not possible, so we encourage our customers to double check their sleeve length measurements properly.
        </li>
        <li>
            As we use easily available fabrics of high quality they can easily run out of stock. We will generally remove a fabric from the system that is no longer available but in case two orders are placed at very closed intervals, the last order will have to find a different but similar fabric. 
        </li>
        <li>
            As we use easily available fabrics of high quality they can easily run out of stock. We will generally remove a fabric from the system that is no longer available but in case two orders are placed at very closed intervals, the last order will have to find a different but similar fabric. 
        </li>
        
    </ol>
    
    <p>
        The color descriptions seen on our website are solely intended for our brand. They do not correspond to other general or universal descriptions of the color mentioned by any other sources or brands.
    </p>
    <h5>
        REFUND POLICY
    </h5>
    <p></p>
    <p>
        We have no refund policy, as each item ordered is made individually according to your preferences and there is no resale value.
    </p>
    <p></p>
    <p>
        As we do not have a return or refund policy, we request you to send us pictures in the case of any measurement error or production defect. We will then assist you and review the case before responding to you with a solution.
    </p>
    <p></p>
    <h5>
        DELIVERY
    </h5>
    <p>
        Delivery generally takes 4-6 weeks depending on the location. In order to minimize delivery time for each product, every item may be packed and shipped individually.
    </p>
    
    
</div>